<button id="razorpay-button" class="btn btn-outline-success rounded-lg font-weight-bold"><%= Spree.t(:razorpay)%></button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div
  id="razor-pay-options"
  data-razor-pay-key="<%= payment_method.preferences[:key_id] %>"
  data-razor-pay-amount="<%= current_order.amount_in_paise %>"
  data-razor-pay-currency="INR"
  data-razor-pay-name="<%= payment_method.preferences[:merchant_name] %>"
  data-razor-pay-description="<%= payment_method.preferences[:merchant_description] %>"
  data-razor-pay-callback-url="<%= razorpay_response_url(order_id: current_order.number) %>"

  data-razor-pay-prefill-name="<%= spree_current_user.try(:email) %>"
  data-razor-pay-prefill-email="<%= spree_current_user.try(:email) %>"
  data-razor-pay-prefill-contact=""

  data-razor-pay-notes-address="<%= payment_method.preferences[:merchant_address] %>"

  data-razor-pay-theme-color="<%= payment_method.preferences[:theme_color] %>"
/>



<script>
var options = {
    "key": "<%= payment_method.preferences[:key_id] %>",
    "amount": "<%= current_order.amount_in_paise %>",
    "currency": "INR",
    "name": "<%= payment_method.preferences[:merchant_name] %>",
    "description": "<%= payment_method.preferences[:merchant_description] %>",
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

